{
  "env": {
    "node": true
  },
  "extends": "airbnb",
  "plugins": [
    "mocha",
    "chai-expect"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["*.test.js", "*.spec.js"]}],
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "react/require-extension": 0,
    "mocha/no-exclusive-tests": "error",
    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 1,
    "no-underscore-dangle": [2, { "allow": ["_rev", "_id"] }]
  }
}

